
<div class="page-header-widget" filter-color="">
    <div class="container">
        <div class="col-md-12 content-center">
            
                <form [formGroup]="loginForm" *ngIf="!showCreate">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/HappyPlace.png" alt="">
                        </div>
                        <button class="check btn btn-default btn-lg hidden" (click)=checkToken() >Check Token</button>
                    </div>
                    <div class="content-center">
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            </div>

                                <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" name="email" formControlName="email" [(ngModel)]="email" >
                                <span *ngIf="loginForm.get('email').dirty || loginForm.get('email').touched">
                                    <span *ngIf="loginForm.get('email').errors?.required" class="text text-danger" id="emailError">Email is required</span>
                                </span> 
                        </div>

                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>

                                <input type="password" (keypress)="pressAccount($event)" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false" name="password" formControlName="password" [(ngModel)]="password" />
                                <span *ngIf="loginForm.get('password').dirty || loginForm.get('password').touched">
                                    <span *ngIf="loginForm.get('password').errors?.required" class="text text-danger" id="passwordError">Password is required</span>
                                </span> 

                        </div>

                        <button type ="submit" class="login btn btn-default btn-lg" (click)="loginAccount()" [disabled]="!loginForm.valid">Explorer Login</button>

                        <div *ngIf="error_message!=null">
                            <span style="color:red">{{error_message}}</span>
                        </div>
                    </div>
                     
                </form>

                <div class="container" >
                    <div class="row justify-content-md-center sharing-area text-center">
                        <div class="text-center col-md-12 col-lg-8">
                            <button type="button" class="btn btn-info"  *ngIf="!showCreate" (click)="showCreateCard()" >Get Free Explorer Account</button>  
                            <button type="button" class="btn btn-info" [routerLink]="['/login']"        class="hidden">Login</button>
                            <button type="button" class="btn btn-info" (click)="getCardToken()"         class="hidden">Subscribe</button>  
                            <button type="button" class="btn btn-info" (click)="openDiscordDrawer()"    class="hidden">Discord</button>  
                            <button type="button" class="btn btn-info" (click)="openLoginDrawer()"      class="hidden">Login</button> 
                        </div>
                    </div>
                </div>

                <div *ngIf="showCreate">
                    <app-widget-signup></app-widget-signup>
                </div>
         </div>
    </div>
</div>
