<footer class="footer" data-background-color="black">
  <div class="container">
      <nav>
          <ul>
              <li>
                  <a href="https://www.hynes.com"  target="_blog">
                      Hynes Internet Publishing
                  </a>
              </li>
              <li>
                  <a href="https://www.hynes.com/about"  target="_blog">
                      About Us
                  </a>
              </li>
              <li>
                  <a href="https://www.hynes.com/talk" target="_blog">
                      Hynes Talk
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright">
          &copy; 2020 Hynes Internet Publishing
      </div>
  </div>
</footer>